.modal{
    background-color: rgba($color: #000000, $alpha: .2);
    top: 0;
    left: 0;
    z-index: 50;
    position: fixed;
    width: 100vw;
    height: 100vh;

    &__content{
        top: 50%;
        left: 50%;
        z-index: 50;
        position: absolute;
        transform: translate(-50%, -50%);
        width: 50vw;
        background-color: white;
        height: 60vh;

        @include response(tab-land){
            width: 80vw;
        }

        @include response(tab-port){
            width: 90vw;
            background-color: white;
        }
    }

    &__header{
        width: 100%;
        height: 30%;
        background-color: $color-primary-light;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;

        .close, .submit{
            display: flex;
            width: 4rem;
            height: 4rem;
            cursor: pointer;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            grid-row: 1;
            grid-column: 1;
            margin: 1rem;



            svg{
                font-size: 6rem;
            }
        }

        .submit{
            justify-self: flex-end;
            align-self: flex-start;
            color: rgb(50, 94, 6);
    
        }

        .close{
            justify-self: flex-start;
            grid-row: 1;
            align-self: flex-start;
            color: red;
    
        }
    }

    &__body{
        width: 100%;
        overflow-y: auto;
        height: 70%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 4rem;
    }
}